.font-size-logo {
    font-size: 40px;
}

.logo-location {
    position: absolute;
    top: -25px;
    left: 20px;
}

@font-face {
    font-family: 'Ownglyph_corncorn-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.font-logo {
    font-family: 'Ownglyph_corncorn-Rg', sans-serif;
}
